@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "All Abyssimal Groups";
    ViewData["User"] = @ViewBag.User;
}
<div class="card border-success mb-3 mt-3 ml-auto mr-auto" style="max-width: 100%;">
    <div class="card-header border-success text-center">
        <h4><b>Select an Abyssimal Group to edit!</b></h4>
    </div>
    <div class="card-body text-success">
        <h4 class="card-title">Please select an Abyssimal Group to edit.</h4>
        <p class="card-text text-danger">@ViewBag.Error</p>
        <p class="card-text text-success">@ViewBag.Success</p>
       <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col" style="width: 15%;"><h5>Abyssimal Group ID</h5></th>
                <th scope="col"><h5>Name</h5></th>
                <th scope="col" style="width: 35%;"><h5>Description</h5></th>
                <th scope="col"><h5>Actions</h5></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(AbyssimalGroup Group in ViewBag.AllAbyssimalGroups){
                        <tr>
                            <th scope="row" style="vertical-align: middle;"><h5>@Group.AbyssimalGroupId</h5></th>
                            <td style="vertical-align: middle;"><h5>@Group.Name</h5></td>
                            <td style="vertical-align: middle;"><p>@Group.Description</p></td>
                            <td style="vertical-align: middle;">
                                <a asp-action="EditAbyssimalGroup" asp-route-gid=@Group.AbyssimalGroupId><button class="btn btn-success"><b>Edit</b></button></a>
                                <a asp-action="DeleteAbyssimalGroup" asp-route-gid=@Group.AbyssimalGroupId><button class="btn btn-danger"><b>Delete</b></button></a>
                                <br>
                                <a asp-action="EditAbyssimalGroup" asp-route-gid=@Group.AbyssimalGroupId><button class="btn btn-warning text-light"><b>Related Species</b></button></a>
                                <a asp-action="EditAbyssimalGroup" asp-route-gid=@Group.AbyssimalGroupId><button class="btn btn-warning text-light"><b>Related Attacks</b></button></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>