@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Home";
    ViewData["Username"] = @ViewBag.User.Username;
    ViewData["User"] = @ViewBag.User;
}

<h1>@ViewBag.MyShop.Name</h1>
@model IDictionary<int, ListedProduct>
<form action="update" method="POST">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col" class="text-center" ><h5>Item</h5></th>
            <th scope="col" class="text-center" ><h5>Amount (Current)</h5></th>
            <th scope="col" class="text-center" ><h5>Price Per Item (Current)</h5></th>
            </tr>
        </thead>
        <tbody>
            @{
                @for(var i = 0; i < ViewBag.MyShop.Products.Count; i++){
                <tr>
                    <input type="hidden" name="@("UpdateProds[" + @i + "].Key")" value=@ViewBag.MyShop.Products[i].ListedProductId>
                    <th class="text-center" scope="row" style="vertical-align: middle;">
                        <img src="~/images/@ViewBag.MyShop.Products[i].Product.Image" class="inventory">
                        <h5>@ViewBag.MyShop.Products[i].Product.Name</h5>
                    </th>
                    <td class="text-center" style="vertical-align: middle;"><h5>
                        <input name="@("UpdateProds[" + @i + "].Value.Stock")" type="number" step="1" 
                        min="0" max=@ViewBag.MyShop.Products[i].Stock required value=@ViewBag.MyShop.Products[i].Stock>
                        (Currently: @ViewBag.MyShop.Products[i].Stock)</h5>
                    </td>
                    <td class="text-center" style="vertical-align: middle;"><h5>
                        <input name="@("UpdateProds[" + @i + "].Value.Price")" type="number" step="0.01" 
                        min="0" max="999999.99" required value=@ViewBag.MyShop.Products[i].Price>
                        (Currently: @ViewBag.MyShop.Products[i].Price)</h5>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    <div class="float-right">
        <button type="submit" class="btn btn-success">Update Shop!</button>
    </div>
</form>